.accueil {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hero {
  text-align: center;
}

.hero h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
}
