<nav class="navbar">
  <a routerLink="/accueil" class="logo_link" aria-label="lien vers l'accueil du logo"></a>
  <img src="assets/images/opz_logo.png" alt="Logo de One Piece RPG" class="logo" />

  <div class="links">
    <a routerLink="/accueil">Accueil</a>

    @if (estConnecte()) {
      <a routerLink="/monde">Monde</a>

      @if (zoneId()) {
        <a [routerLink]="['/combat', zoneId()]">Combat</a>
      }

      <a routerLink="/profil">Profil</a>
      <a routerLink="/" (click)="deconnecter()">Déconnexion</a>
    } @else {
      <a routerLink="/connexion">Connexion</a>
      <a routerLink="/inscription">Inscription</a>
    }
  </div>
</nav>
